@model MVC_Drills.Models.StreetliftingModels.User

<h2>Yeni Kullanıcı Ekle</h2>

<form method="post">
    <div>
        <span>Kullanıcı adı: </span>
        <input name="UserName" type="text" />
    </div>
    <div>
        <span>Email: </span>
        <input name="Email" type="email" />
    </div>
    <div>
        <span>Şifre: </span>
        <input name="Password" type="number" />
    </div>

    <button type="submit">Oluştur</button>
</form>
