@model MVC_Drills.Models.StreetliftingModels.User

<h2>Kullanıcı Silme</h2>

<form method="post">
    <div>
        <span>Silinecek kullanıcı ID: </span>
        <input name="ID" type="number" />
        
    </div>
  

    <button type="submit">Kullanıcı sil</button>
</form>