@model MVC_Drills.Models.StreetliftingModels.User

<h2>Kullanıcı numarası ile ara</h2>

<form method="post">
    <div>
        <span>Kullanıcı Id: </span>
        <input name="ID type="number" />
    </div>
  

    <button type="submit">Oluştur</button>
</form>