@model MVC_Drills.Models.StreetliftingModels.User

<h2>Kullanıcı güncelleme</h2>

<form method="post">
    <div>
        <span>Güncellenecek Kullanıcı Id: </span>
        <input name="ID" type="number" />
        <span>Güncellenecek Kullanıcı adı: </span>
        <input name="UserName" type="text" />
    </div>
    <div>
        <span>Güncellenecek Email: </span>
        <input name="Email" type="email" />
    </div>
    <div>
        <span>Güncellenecek Şifre: </span>
        <input name="Password" type="number" />
    </div>

    <button type="submit">Güncelle</button>
</form>